{% extends "base.html" %}
{% block title %}Traffic details{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Traffic data</h1>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>AADFYear</th>
    <th>CP</th>
  </tr>
  </thead>
  <tbody>
  {% for traf in traffic %}
    <tr>
    <td>{{ traf.aadfyear }}</td>
    <td>{{ traf.cp }}</td>
    </tr>
  {% endfor %}
</table>
<p class="navbar-btn">
  <a href="/add" class="btn btn-default">Add!</a>
</p>
{% endblock %}
